{% extends "base.html" %}

{% block title %}Create Model{% endblock %}

{% block content %}
<h1>Create New Model</h1>

<form method="POST">
    <label for="name">Model Name</label>
    <input type="text" id="name" name="name">

    <label for="brand_id">Brand</label>
    <select id="brand_id" name="brand_id">
        {% for brand in brands %}
        <option value="{{ brand['brand_id'] }}">{{ brand['name'] }}</option>
        {% endfor %}
    </select>

    <label for="type_id">Vehicle Type</label>
    <select id="type_id" name="type_id">
        {% for vehicle_type in vehicle_types %}
        <option value="{{ vehicle_type['type_id'] }}">{{ vehicle_type['name'] }}</option>
        {% endfor %}
    </select>

    <button type="submit">Create</button>
</form>
{% endblock %}
